/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
* {
    box-sizing: border-box;
}
 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #232323;
    background: #F7F7F7;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
     ========================================================================== */
  
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ========================================================================== */
  
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  /* Interactive
     ========================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ========================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }

header {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 81px;
    background: #F7F7F7;
}
.wrapper {
    display: block;
    position: relative;
    float: left;
    width: 100%;
}
.side-panel {
    display: block;
    position: fixed;
    float: left;
    width: 10%;
    height: 100vh;
    background: #393A3F;
}
.conent-block {
    display: block;
    position: fixed;
    float: left;
    left: 10%;
    width: 90%;
    height: 100vh;
    background: #ffffff;
    overflow-y: scroll;
    padding: 30px 20px;
}
.conent-block__page-header {
    font-size: 32px;
    color: #000000;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    padding-left: 16px;    
    margin-bottom: 20px;
}
.conent-block__btn-block {
    display: flex;
    width: 100%;
    padding: 6px 16px;
    background: #F7F7F7;
    margin-bottom: 22px;
}
.btn {
    display: inline-block;
    font-weight: 400;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 16px 36px;
    font-size: 14px;
    color: #CACACA;
    text-align: center;
    line-height: 12px;
    border-radius: 2px;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:hover {
    color: #212529;
    text-decoration: none;
}
  
.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
  
.btn.disabled, .btn:disabled {
    opacity: 0.65;
}
.btn-primary {
  color: #CACACA;
  background-color: #556080;
  border-color: #556080;
}

.btn-primary:hover {
  color: #CACACA;
  background-color: #505872;
  border-color: #505872;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.2);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #333;
  background-color: #b6b6b6;
  border-color: #b6b6b6;
}
.btn-secondary {
  color: #556080;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-secondary:hover {
  color: #556080;
  background-color: #f1f1f1;
  border-color: #f1f1f1;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.2);
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #333;
  background-color: #b6b6b6;
  border-color: #b6b6b6;
}
.ml-2 {
    margin-left: 20px;
}
.content-block__holiday-block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    background: #F7F7F7;
    margin-right: 0;
    margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-days {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: center;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}
.align-self-stretch {
  -ms-flex-item-align: stretch !important;
  align-self: stretch !important;
}
.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.content-block__holiday-header {
    font-size: 18px;
    color: #2D2E2E;
    text-align: left;
    font-weight: 400;  
    line-height: 24px;
    margin: 17px 20px;  
}
.content-block__holiday-arrow-left {
    display: inline-flex;
    position: relative;
    width: 24px;
    height: 24px;
    background: url('../img/ic-left.svg') no-repeat center center;
}
.content-block__holiday-arrow-right {
    display: inline-flex;
    position: relative;
    width: 24px;
    height: 24px; 
    background: url('../img/ic-right.svg') no-repeat center center;
}
.content-block__holiday-year {
    display: inline-flex;
    position: relative;
    font-size: 18px;
    color: #232323;
    text-align: center;
    line-height: 12px;  
    margin: 0 8px;  
    top: -5px;
}
.content-block__holiday-year-block {
    align-items: baseline;
    display: block;
    position: relative;
    float: right;
    padding: 18px 0px;
}
.content-block__holiday-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}
.content-block__holiday-table-cap {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  padding-bottom: 8px;
  padding-left: 0px;
  font-size: 10px;
  color: #232323;
  line-height: 12px;  
}
.content-block__holiday-table-month-cap {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  padding-bottom: 8px;
  font-size: 10px;
  color: #232323;
  line-height: 12px;  
}
.content-block__holiday-table {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin-right: 0;
  margin-left: 0;  
}
.content-block__holiday-user-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin-right: 0;
  margin-left: 0;  
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #F7F7F7;
}
.content-block__holiday-flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.content-block__holiday-userphoto {
  display: flex;
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.content-block__holiday-username {
  display: flex;
  position: relative;
  font-size: 12px;
  color: #232323;
  line-height: 12px;
  font-weight: 400;
  word-break: keep-all;
  word-wrap: break-word;
  padding-left: 8px;
  padding-top: 5px;
}
.content-block__holiday-table-days {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 12px;
  color: #232323;
  line-height: 12px; 
}
.table-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-block__holiday-days-flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.content-block__holiday-weeks {
  display: flex;
  flex-direction: column;
  width: 8px;
  height: 21px;
  margin: 0 1px;
}
.content-block__holiday-day {
  display: block;
  position: relative;
  width: 100%;
  height: 3px;
  background: #F6F6F6;
}
.content-block__holiday-day.work {
  background: #EAF9FF;
}
.content-block__holiday-day.sick-leave {
  background: #F16953;
}
.content-block__holiday-day.vacation {
  background: #1EBEB4;
}
.content-block__holiday-weeks.first-week {
  justify-content: flex-end;
}
.pop-up {
  cursor: pointer;
}
.pop-up:hover > .modal-pop-up {
  display: block;
  position: absolute;
  width: 345px;
  padding: 16px;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(107,107,107,0.50);
  border-radius: 4px;
  z-index: 10;
  top:32px;
} 
.modal-pop-up {
  display: none;
}
.modal-pop-up__flex-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: left;
  justify-content: start;
}
.modal-pop-up__userphoto {
  display: flex;
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 50%;
}
.modal-pop-up__username {
  display: flex;
  position: relative;
  font-size: 14px;
  color: #232323;
  line-height: 19px;
  font-weight: 700;
  word-break: keep-all;
  word-wrap: break-word;
  padding-left: 16px;
  padding-top: 0px;
}
.modal-pop-up__badge {
  width: 12px;
  height: 16px;
  display: flex;
  position: relative;
  background: #F6F6F6;
  margin-top: 2px;
}
.mb-18 {
  margin-bottom: 18px;
}
.mb-6 {
  margin-bottom: 6px;
}
.modal-pop-up__badge.vacation {
  background: #1EBEB4;
}
.modal-pop-up__badge.sick-leave {
  background: #F16953;
}
.modal-pop-up__dates {
  flex-direction: column;
  display: flex;
  position: relative;
  font-size: 14px;
  color: #000;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  padding-left: 8px;
}
.modal-pop-up__dates small {
  display: block;

  font-size: 14px;
  color: #AEAEAE;
}